

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
   font-family: "openslab",sans-serif;
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #ffffff;
    background-image: url("./pic3.jpg");
    background-size: cover;
    background-position: center;
}
.images-intro img{
    position: relative;
    
}
#img-intro2{
    position: absolute;
    width: 160px;
    height: 120px;
    right: 0%;
    bottom: 0px;
    z-index: -6;
    
    animation: move 12s;
    animation-delay: 3s;
    animation-iteration-count:2 ;
}
@keyframes move{
    0%{bottom: 10px;right: 0px;}
   
    50%{bottom: 50%;right: 50%;}
   
    100%{bottom:100% ;right:100%;}
    
}

#img-intro1{
    position: absolute;
    width: 160px;
    height: 120px;
    top: 20%;
    left: 50%;
    height: 400px;
    width: 350px;
    z-index: -1;
    
}

.vh{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 20;
    
}
.navcolor{
    color: #ffffff;
}
.navbar{
    
    width: 100%;
}
.logo{
    width:40px;
    height: 40px;
}
.container{
    padding: 10px 10%;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.navbar ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
.navbar ul li a:hover::after{
    width: 100%;
    
}
span{
    color:#2D3C3F;
}
/*-------intro-------*/
.intro{
    position:absolute;
    top: 30%;
    left:30%;
}
.intro p{
    /* color: #020308; */
    color: #ff004f;
    background: transparent;
}
.color{
    height: 60px;
    width: 100%;
    background:#020308;
    position: absolute;
    z-index: 1;

}

.intro p, .intro h1{
    color: #ffffff ;

}
.hovercolor {

right: 0;
width: 0px;
transition: 6s;
}
.color2{
    right: 0;
    width: 2px;
    transition: 1s;

}
.div2{
    margin-top: 20px;
}
.div3{
    margin-top: 80%;
    margin-left: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: rgb(228, 122, 8,0.5) ;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    
   
    

    
}

.div3 i{
   
    animation: blink 1s infinite;
    
   
}

    

@keyframes blink{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}




    
    
    
    
 
 
/*--------about-----------*/



.education{
    border: 1px solid white;
    width: 400px;
    height: 70%;
    padding-left: 20px;
    padding-top: 10px;
}
.about-image{
    margin-right: 40px;
    padding-bottom: 150px;
    
}
.about-image img{

    border: 2px solid rgb(219, 165, 41);
    width: 200px;
    height: 200px;
    
    
}
.about-info{
    display: flex;
    align-items: center;
    padding-top: 15%;
    
}
.resume ul li{
    list-style: none;
    margin: 5px;
    

}
.resume ul{
   display: flex;
}
.resume ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background:#ff004f;
    position: absolute;
    
    left: 0px;
    bottom:-2px;
    transition: 0.5s;
}

.resume ul li a:hover::after{
    width: 100%;
    
   
}


.resume ul li a{
text-decoration: none;
    color: #ffffff;
    position: relative;
    margin-right: 50px;
    
    
} 

.display{
    display:none;
}

.resume_data_border{
    
    width: 100%;
    height: 200px;
}
/* .......portfolio......... */
.portfolio{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    
    height: 500px;
}
.projects{
     
    height: 200px;
    width: 200px;
    border: 1px solid white;
    margin-right: 30px;
}
.projects:hover{
    border: 2px solid rgb(228, 109, 11);
    
    

}
.projects-div{
    display: flex;
   
    align-items: center;
    margin-top: 20px;
}
/*---------contact-me--------*/
.myresume a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.myresume{
    border: 1px solid orange;
    background-color: #ff004f;
    width: 15%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-me{
    height: 150px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: 20%;
    
}
